{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-namespace-from",
    "babel-plugin-dev-expression",
    "babel-plugin-styled-components"
  ]
}
